.origImg {
  display: flex;
  flex-direction: column;
  /* background-color: lightblue; */
  padding: 1rem;
}

.origImg > h3 {
  text-align: center;
}


.origImg > form {
  display: flex;
  flex-direction: column;
  /* background-color: lightcoral; */
  padding: 1rem;
  width: 50%;
}

.origImg > form > label {
  display: flex;
  border: 0.1rem solid black;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  /* color: red; */
}

.origImg__input {
  opacity: 0;
  z-index: -1; /* move under anything else */
  position: absolute; /* don't let it take up space */
}

.origImg__preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.1rem solid black;
  margin: 1rem 0;
  padding-left: 1rem;
  
}

.origImg__previewImg {
  width: 4rem;
  height: auto;
}

.origImg__btn {
  display: flex;
  justify-content: center;
}

.origImg__btn > button {
  width: 33%;
  height: 2rem;
}
